absl-py==0.2.0
apply-defaults==0.1.1
arc-styling==0.2.0
arrow==0.12.1
astor==0.6.2
astroid==1.5.3
awscli==1.11.176
backports.functools-lru-cache==1.4
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
bcrypt==3.1.4
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bernhard==0.2.6
bleach==1.5.0
boto==2.48.0
botocore==1.7.34
bottle==0.12.13
Cerberus==1.2
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
colorama==0.3.7
configparser==3.5.0
CouchDB==1.2
cycler==0.10.0
Django==1.10.8
django-classy-tags==0.8.0
django-sekizai==0.10.0
docker==3.5.0
docker-pycreds==0.3.0
docopt==0.6.2
docutils==0.14
easy-web-app==0.3.1
elasticsearch==6.3.1
enum34==1.1.6
et-xmlfile==1.0.1
Eve==0.8
Eve-Swagger==0.0.11
Events==0.3
Flask==1.0.2
Flask-PyMongo==0.5.1
Flask-SocketIO==3.0.1
Flask-WTF==0.14.2
flatten-json==0.1.6
foundation==0.1.0a0.dev1
funcsigs==1.0.2
functionoptimizer==0.1.0
functools32==3.2.3.post2
futures==3.1.1
gast==0.2.0
Glances==2.11.1
grpcio==1.11.0
gunicorn==19.9.0
HermesCache==0.6.2
html5lib==0.9999999
humanize==0.5.1
idna==2.6
inflection==0.3.1
influxdb==5.0.0
inputs==0.1
ipaddress==1.0.22
isort==4.2.15
itsdangerous==0.24
jdcal==1.4
Jinja2==2.10
jmespath==0.9.3
json2xlsx==1.3
jsonrpcclient==3.0.0
jsonrpcserver==3.5.6
jsonschema==2.6.0
kafka-python==1.4.3
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.21.0
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.2.2
mccabe==0.6.1
mock==2.0.0
netifaces==0.10.7
network-analyzer==0.0.0
nodeenv==1.3.0
nose==1.3.7
numba==0.36.2
numpy==1.14.0
odfpy==1.3.6
opencv-python==3.4.0.12
openpyxl==2.4.9
passgen==1.0.1
pbkdf2==1.3
pbr==4.0.2
pika==0.12.0
Pillow==9.0.1
pipreqs==0.4.9
ply==3.11
potsdb==1.0.3
prometheus-client==0.3.1
protobuf==3.5.2.post1
psutil==5.4.6
py-cpuinfo==4.0.0
pyasn1==0.3.7
pycparser==2.18
pycryptodomex==3.6.4
pylint==1.7.3
pymdstat==0.4.2
pymongo==3.6.0
pyobjc==4.2.1
pyobjc-core==4.2.1
pyobjc-framework-Accounts==4.2.1
pyobjc-framework-AddressBook==4.2.1
pyobjc-framework-AppleScriptKit==4.2.1
pyobjc-framework-AppleScriptObjC==4.2.1
pyobjc-framework-ApplicationServices==4.2.1
pyobjc-framework-Automator==4.2.1
pyobjc-framework-AVFoundation==4.2.1
pyobjc-framework-AVKit==4.2.1
pyobjc-framework-CalendarStore==4.2.1
pyobjc-framework-CFNetwork==4.2.1
pyobjc-framework-CloudKit==4.2.1
pyobjc-framework-Cocoa==4.2.1
pyobjc-framework-Collaboration==4.2.1
pyobjc-framework-Contacts==4.2.1
pyobjc-framework-ContactsUI==4.2.1
pyobjc-framework-CoreBluetooth==4.2.1
pyobjc-framework-CoreData==4.2.1
pyobjc-framework-CoreLocation==4.2.1
pyobjc-framework-CoreServices==4.2.1
pyobjc-framework-CoreText==4.2.1
pyobjc-framework-CoreWLAN==4.2.1
pyobjc-framework-CryptoTokenKit==4.2.1
pyobjc-framework-DictionaryServices==4.2.1
pyobjc-framework-DiskArbitration==4.2.1
pyobjc-framework-EventKit==4.2.1
pyobjc-framework-ExceptionHandling==4.2.1
pyobjc-framework-FinderSync==4.2.1
pyobjc-framework-FSEvents==4.2.1
pyobjc-framework-GameCenter==4.2.1
pyobjc-framework-GameController==4.2.1
pyobjc-framework-GameKit==4.2.1
pyobjc-framework-GameplayKit==4.2.1
pyobjc-framework-ImageCaptureCore==4.2.1
pyobjc-framework-IMServicePlugIn==4.2.1
pyobjc-framework-InputMethodKit==4.2.1
pyobjc-framework-InstallerPlugins==4.2.1
pyobjc-framework-InstantMessage==4.2.1
pyobjc-framework-Intents==4.2.1
pyobjc-framework-IOSurface==4.2.1
pyobjc-framework-iTunesLibrary==4.2.1
pyobjc-framework-LatentSemanticMapping==4.2.1
pyobjc-framework-LaunchServices==4.2.1
pyobjc-framework-libdispatch==4.2.1
pyobjc-framework-LocalAuthentication==4.2.1
pyobjc-framework-MapKit==4.2.1
pyobjc-framework-MediaAccessibility==4.2.1
pyobjc-framework-MediaLibrary==4.2.1
pyobjc-framework-MediaPlayer==4.2.1
pyobjc-framework-ModelIO==4.2.1
pyobjc-framework-MultipeerConnectivity==4.2.1
pyobjc-framework-NetFS==4.2.1
pyobjc-framework-NetworkExtension==4.2.1
pyobjc-framework-NotificationCenter==4.2.1
pyobjc-framework-OpenDirectory==4.2.1
pyobjc-framework-Photos==4.2.1
pyobjc-framework-PhotosUI==4.2.1
pyobjc-framework-PreferencePanes==4.2.1
pyobjc-framework-PubSub==4.2.1
pyobjc-framework-QTKit==4.2.1
pyobjc-framework-Quartz==4.2.1
pyobjc-framework-SafariServices==4.2.1
pyobjc-framework-SceneKit==4.2.1
pyobjc-framework-ScreenSaver==4.2.1
pyobjc-framework-ScriptingBridge==4.2.1
pyobjc-framework-SearchKit==4.2.1
pyobjc-framework-Security==4.2.1
pyobjc-framework-SecurityFoundation==4.2.1
pyobjc-framework-SecurityInterface==4.2.1
pyobjc-framework-ServiceManagement==4.2.1
pyobjc-framework-Social==4.2.1
pyobjc-framework-SpriteKit==4.2.1
pyobjc-framework-StoreKit==4.2.1
pyobjc-framework-SyncServices==4.2.1
pyobjc-framework-SystemConfiguration==4.2.1
pyobjc-framework-WebKit==4.2.1
pyparsing==2.2.0
pysmi==0.3.1
pysnmp==4.4.5
pystache==0.5.4
python-dateutil==2.6.1
python-engineio==2.2.0
python-socketio==2.0.0
pyttsx==1.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.1.2
redis==2.10.6
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.11
scandir==1.9.0
selenium==3.14.0
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.11.0
statsd==3.2.2
subprocess32==3.5.2
tablib==0.12.1
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
tinyrpc==0.9.3
unicodecsv==0.14.1
urllib3==1.22
virtualenv==16.0.0
waitress==1.1.0
web.py==0.38
WebOb==1.7.4
websocket-client==0.48.0
WebTest==2.0.29
Werkzeug==0.14.1
wifi==0.3.8
wrapt==1.10.11
WTForms==2.1
xlrd==1.1.0
xlwt==1.3.0
yarg==0.1.9
zeroconf==0.20.0
